page-sale {
    .sale-wrapper {
        padding: 5px;
        .category {
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}