$primaryColor: #eece36;
$darkPrimary: #e2b234;
$blackColor: #292929;
$neutralColor: #dadada;
$whiteColor: #d4d4d4;
$disable: #bcbcbc;
$error: #E81756;
$info: #69a8e3;
$warn: #ee8946;
$success: #6ab662;