@import "app/variables.scss";
page-sale-finish-order {
    .sale-finish-order-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            ion-icon {
                margin-left: 25px;
                font-size: 30px;
                &.edit {
                    color: $success;
                }
                &.remove {
                    color: $error;
                }
            }
        }
        .status-dif {
            margin-right: 5px;
            display: inline-flex;
            width: 115px;
            align-items: center;
            justify-content: center;
            position: relative;
            ion-icon {
                position: absolute;
                left: 5px;
            }
        }
    }
    .status-line {
        margin-bottom: 5px;
    }
    h6.calender {
        margin-top: -10px !important;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        ion-icon {
            color: $primaryColor;
            margin-right: 15px;
        }
    }
}