<!--
  Generated template for the SaleFinishOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons left>
            <button class="back-modal" ion-button icon-only (click)="dismiss(true)">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>{{visualize ? 'Meu pedido' : 'Meu carrinho'}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="sale-finish-order-wrapper">
        <ion-list>
            <ion-item-sliding>
                <ion-item *ngFor="let order of sale.orders; let i = index">
                    <div class="flex-row">
                        <ion-avatar item-start>
                            <img [src]="order.product.image">
                        </ion-avatar>
                        <div class="flex-column">
                            <h2>{{order.product.name}}</h2>
                            <p>Qtd: {{order.qtd}} x {{order.product.price | currency: 'R$ '}}</p>
                            <p>Total: {{order.total | currency: 'R$ '}}</p>
                        </div>
                        <div class="actions" [hidden]="visualize">
                            <ion-icon class="edit" (click)="editProduct(i)" name="create"></ion-icon>
                            <ion-icon class="remove" (click)="removeProduct(i)" name="trash"></ion-icon>
                        </div>
                    </div>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <ion-card>
            <ion-card-header class="text-center">
                Total: {{ calculateTotal() | currency:'R$ ' }}
            </ion-card-header>
            <ion-card-content [hidden]="visualize">
                <button class="btn-default" (click)="finishOrder()">
                    Finalizar
                </button>
            </ion-card-content>
            <ion-card-content [hidden]="!visualize">
                <div *ngIf="sale.status">
                    <h6 class="calender">
                        <ion-icon name="calendar"></ion-icon> {{transformDate(sale.date) | date:'dd/MM/yyyy'}}
                    </h6>
                    <h6 class="status-line" *ngIf="sale.date > 0 && sale.status != 'CANCELED'">
                        <span class="status status-dif pending"><ion-icon name="time"></ion-icon> Pendente</span> {{transformDate(sale.date) | date:'HH:mm:ss'}}
                    </h6>
                    <h6 class="status-line" *ngIf="sale.dateVisualized > 0 && sale.status != 'CANCELED'">
                        <span class="status status-dif visualized"><ion-icon name="time"></ion-icon> Visualizado</span> {{transformDate(sale.dateVisualized) | date:'HH:mm:ss'}}
                    </h6>
                    <h6 class="status-line" *ngIf="sale.dateSent > 0 && sale.status != 'CANCELED'">
                        <span class="status status-dif sent"><ion-icon name="time"></ion-icon> Enviado</span> {{transformDate(sale.dateSent) | date:'HH:mm:ss'}}
                    </h6>
                    <h6 class="status-line" *ngIf="sale.dateFinish > 0 && sale.status != 'CANCELED'">
                        <span class="status status-dif finish"><ion-icon name="time"></ion-icon> Finalizado</span> {{transformDate(sale.dateFinish) | date:'HH:mm:ss'}}
                    </h6>
                    <h6 class="status-line" *ngIf="sale.status === 'CANCELED'">
                        <span class="status status-dif finish"><ion-icon name="time"></ion-icon> Cancelado</span>
                    </h6>
                    <p *ngIf="sale.status === 'CANCELED'">
                        {{sale.reasonCancellation}}
                    </p>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>