@import "app/variables.scss";
page-sale-finish-order {
    .sale-finish-order-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            ion-icon {
                margin-left: 25px;
                font-size: 30px;
                &.edit {
                    color: $success;
                }
                &.remove {
                    color: $error;
                }
            }
        }
        .status-dif {
            margin-right: 5px;
            display: inline-flex;
            width: 115px;
            align-items: center;
            justify-content: center;
            position: relative;
            ion-icon {
                position: absolute;
                left: 5px;
            }
        }
    }
    .status-line {
        margin-bottom: 5px;
    }
    .infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            margin: 0;
        }
        a {
            font-size: 12px;
            border-bottom: 1px solid #292929;
            color: #292929;
        }
    }
    h6.calender {
        display: flex;
        margin-top: -4px;
        ion-icon {
            color: $primaryColor;
            margin-right: 15px;
        }
    }
    .obs {
        transition: all 300ms ease;
        opacity: 0;
        height: 0px;
        margin-top: 0px;
        width: 100%;
        border-radius: 10px;
        padding: 0px;
        font-size: 13px;
        &.open {
            padding: 10px;
            margin-top: 15px;
            opacity: 1;
            height: 70px;
        }
    }
    .p-desc {
        font-size: 13px;
        margin-top: 4px;
    }
}